Flask==0.10.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
git-remote-helpers==0.1.0
itsdangerous==0.24
wsgiref==0.1.2
Pillow==2.5.3
SQLAlchemy==0.9.7
SQLAlchemy-Utils==0.26.16
SQLAlchemy-i18n==0.8.4
itsdangerous==0.24
reportlab==3.1.8
six==1.8.0
web.py==0.37
